@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap');


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --Violet: hsl(257, 40%, 49%);
    --SoftMagenta: hsl(300, 69%, 71%)
}

body{
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--Violet);
}

.iconContainer{
    padding: 10px;
}

.imageContainer{
    display: flex;
    justify-content: center;
}

.ImageCenter{
    height: 200px;
}

article{
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;

}


.bodyTitle{
    color: white;
    padding-bottom: 20px;
}

.bodyText{
    color: white;
}
